<header id="header_main" class="header_1 js-header">
    <div class="themesflat-container">
        <div class="mobile-button"><span></span></div>

        <nav id="menu_custom" class="menu_custom" style="display:none;">
            <ul id="menu-primary-menu" class="menu">
                <li class="menu-item current-menu-item">
                    <a href="/" id="homeMenu">HOME</a>
                </li>
                <li class="menu-item">
                    <a href="#" id="gameplayMenu">GAMEPLAY</a>
                </li>
                <li class="menu-item" id="roadmapMenu">
                    <a href="#">ROADMAP</a>

                </li>
                <!-- <li class="menu-item" id="marketplace">
                    <a href="#">MARKETPLACE</a>

                </li>
                <li class="menu-item" id="tokenomics">
                    <a href="#">TOKENOMICS</a>

                </li> -->
                <!-- <li class="menu-item" id="teamMenu">
                    <a href="#">TEAM</a>

                </li> -->
                <!-- <li class="menu-item" id="audit">
                    <a href="#">AUDIT</a>

                </li> -->
                <li class="menu-item" id="metaverse">
                    <a href="#"><i class="fad fa-lock"></i>SUPERVERSE</a>
                </li>
                <li class="menu-item">
                    <a href="connect-wallet.html" id="connectbtn" class="sc-button header-slider style style-1 wallet fl-button pri-1"><span>Wallet
                            connect
                        </span></a>
                </li>
                <li class="menu-item">
                    <a href="#">
                        <a href="https://twitter.com/SuperVet_io" target="_blank"> <i class="fab fa-twitter"></i></a>
                        <a href="https://medium.com/@SuperVet" target="_blank"><i class="fab fa-medium"></i></a>
                        <a href="https://t.me/SuperVet_Ann" target="_blank"><i class="fab fa-telegram-plane"></i></a>
                        <a href="https://discord.com/invite/DdtgJHpB" target="_blank"><i class="icon-fl-vt"></i></a>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- <div class="row">
            <div class="col-md-12">
                <div id="site-header-inner">
                    <div class="wrap-box flex">
                        <div id="site-logo" class="clearfix">
                            <div id="site-logo-inner">
                                <a href="/" rel="home" class="main-logo">
                                    <img id="logo_header" src="/assets/example_images/logo_favicon/logo-05.png" alt="nft-gaming" width="133" height="56" data-retina="/assets/images/logo/logo_dark@2x.png" data-width="133" data-height="56">
                                </a>
                            </div>
                        </div>
                        <div class="mobile-button"><span></span></div>
                        <nav id="main-nav" class="main-nav">
                            <ul id="menu-primary-menu" class="menu">
                                <li class="menu-item current-menu-item">
                                    <a href="/">HOME</a>

                                </li>
                                <li class="menu-item">
                                    <a href="#" id="gameplay">GAMEPLAY</a>
                                </li>
                                <li class="menu-item" id="roadmap">
                                    <a href="#">ROADMAP</a>

                                </li>
                                <li class="menu-item" id="marketplace">
                                    <a href="#">MARKETPLACE</a>

                                </li>
                                <li class="menu-item" id="tokenomics">
                                    <a href="#">TOKENOMICS</a>

                                </li>
                                <li class="menu-item" id="team">
                                    <a href="#">TEAM</a>

                                </li>
                                <li class="menu-item" id="audit">
                                    <a href="#">AUDIT</a>

                                </li>
                                <li class="menu-item" id="metaverse">
                                    <a href="#">METAVERSE</a>

                                </li>
                                <li class="menu-item">

                                    <a style="padding-right: 0px !important;" href="/connect_wallet" id="connectbtn" class="">
                                        <i class="fas fa-wallet"></i>&nbsp;
                                        <span>Wallet connect
                                        </span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-4 firstHeaderCustom">
                <div class="sc-box-icon-inner style2">
                    <!-- <img style="max-width:10%;" src="/assets/example_images/logo_favicon/FEVICON-05.png"
                        alt="favicon" />
                    <h2>DEX </h2>&nbsp;&nbsp;&nbsp;
                    <p> View BSC Chart here.</p> -->
                </div>
            </div>
            <div class="col-xl-4 col-md-4" style="    margin-top: 2%;">
                <div class="sc-box-icon-inner style2">
                    <!-- <p>Buy $MONS</p>
                    <img style="max-width:10%;" src="/assets/example_images/logo_favicon/FEVICON-05.png"
                        alt="favicon" />
                    <p>PancakeSwap</p>
                    <img style="max-width:10%;" src="/assets/example_images/logo_favicon/FEVICON-05.png"
                        alt="favicon" />
                    <p>BitMart</p> -->
                </div>

            </div>
        </div>
        <div class="row justify-content-center" id="secondRow">
            <div class="col-xl-4 col-md-4" style="margin-right: auto;">
                <div class="sc-box-icon-inner style2" style="margin-left: 20px;">
                    <div class="">
                        <ul id="menu-primary-menu" class="menu" style="display: flex; float: left;font-size: xx-large;
                        column-gap: 7%;">

                            <li><a href="https://twitter.com/SuperVet_io" target="_blank"><i
                                        class="fab fa-twitter"></i></a></li>
                            <li><a href="https://medium.com/@SuperVet" target="_blank"><i class="fab fa-medium"></i></a>
                            </li>
                            <li><a href="https://t.me/SuperVet_Ann" target="_blank"><i
                                        class="fab fa-telegram-plane"></i></a></li>
                            <li class="mgr-none"><a href="https://discord.com/invite/DdtgJHpB" target="_blank"><i
                                        class="icon-fl-vt"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="sc-box-icon-inner style2" style="margin-left: 20px;">
                    <div id="menu_custom1" class="main_custom1">
                        <ul id="menu-primary-menu" class="menu" style="display: flex; float: left; 
                    font-size: large; column-gap: 18%; padding-top: 31%;">
                            <li class="menu-item homeMenu" id="homeMenu">
                                <a href="#">HOME</a>
                            </li>
                            <li class="menu-item gameplayMenu">
                                <a href="#">GAMEPLAY</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="sc-box-icon-inner style2" style="margin-left: 54%;" id="walletMainBtn">
                    <div class="">
                        <ul>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#metaverse_popup" id="connectbtn" class="sc-button header-slider style style-1 wallet fl-button pri-1"><span>Wallet
                                        connect
                                    </span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sc-box-icon-inner style2" style="margin-left: 45%;padding-top: 8%;">
                    <div id="menu_custom2" class="menu_custom2">
                        <ul id="menu-primary-menu" class="menu" style="display: flex; float: left; 
                    font-size: large; column-gap: 18%;">
                            <li class="menu-item roadmapMenu">
                                <a href="#">ROADMAP</a>
                            </li>
                            <!-- <li class="menu-item" id="tokenomics">
                                <a href="#">TOKENOMICS</a>
                            </li> -->

                            <li class="menu-item metaverseMenu">
                                <a href="#" data-toggle="modal" data-target="#metaverse_popup" style="display: inline-flex; column-gap: 5%;"><i
                                        class="fad fa-lock"></i>SUPERVERSE</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-bottom: -12%; margin-top: -2%;margin-left: 7%;" id="lastRow">
            <div class="col-xl-4 col-md-4">
                <div class="sc-box-icon-inner style2" style="margin-left: -4px !important;">
                    <ul>
                        <li>
                            <div class="gameplay_items sc-box-icon ">
                                <div class="image logoCustomPadding">
                                    <img style="padding-right: 18%; max-width: 70%;" src="assets/example_images/logo_favicon/logo-05.png" alt="Image">
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-xl-4 col-md-4">
                <div class="sc-box-icon-inner style2">
                    <nav id="main-nav" class="main-nav">
                        <ul id="menu-primary-menu" class="menu">
                            <li class="menu-item" id="tokenomics">
                                <a href="#">TOKENOMICS</a>
                            </li>
                            <li class="menu-item" id="team">
                                <a href="#">TEAM</a>
                            </li>
                            <li class="menu-item" id="audit">
                                <a href="#">AUDIT</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div> -->
        </div>

    </div>
</header>