<header id="header_main" class="header_1 js-header">
    <div class="themesflat-container">
        <div class="row">
            <div class="col-md-12">
                <div id="site-header-inner">
                    <div class="wrap-box flex">
                        <div id="site-logo" class="clearfix">
                            <div id="site-logo-inner">
                                <a href="/" rel="home" class="main-logo">
                                    <img id="logo_header" src="/assets/example_images/logo_favicon/logo-05.png" alt="nft-gaming" width="133" height="56" data-retina="/assets/images/logo/logo_dark@2x.png" data-width="133" data-height="56">
                                </a>
                            </div>
                        </div>
                        <div class="mobile-button"><span></span></div>
                        <nav id="main-nav" class="main-nav">
                            <ul id="menu-primary-menu" class="menu">
                                <li class="menu-item current-menu-item">
                                    <a href="/">HOME</a>

                                </li>
                                <li class="menu-item">
                                    <a href="#" id="gameplay">GAMEPLAY</a>
                                </li>
                                <li class="menu-item" id="roadmap">
                                    <a href="#">ROADMAP</a>

                                </li>
                                <li class="menu-item" id="marketplace">
                                    <a href="#">MARKETPLACE</a>

                                </li>
                                <li class="menu-item" id="tokenomics">
                                    <a href="#">TOKENOMICS</a>

                                </li>
                                <li class="menu-item" id="team">
                                    <a href="#">TEAM</a>

                                </li>
                                <li class="menu-item" id="audit">
                                    <a href="#">AUDIT</a>

                                </li>
                                <li class="menu-item" id="metaverse">
                                    <a href="#">METAVERSE</a>

                                </li>
                                <li class="menu-item">

                                    <a style="padding-right: 0px !important;" href="/connect_wallet" id="connectbtn" class="">
                                        <i class="fas fa-wallet"></i>&nbsp;
                                        <span>Wallet connect
                                        </span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row justify-content-center">
            <div class="col-xl-4 col-md-4 firstHeaderCustom">
                <div class="sc-box-icon-inner style2">
                    <img style="max-width:10%;" src="/assets/example_images/logo_favicon/FEVICON-05.png" alt="favicon" />
                    <h2>DEX </h2>&nbsp;&nbsp;&nbsp;
                    <p> View BSC Chart here.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-4" style="    margin-top: 2%;">
                <div class="sc-box-icon-inner style2">
                    <p>Buy $MONS</p>
                    <img style="max-width:10%;" src="/assets/example_images/logo_favicon/FEVICON-05.png" alt="favicon" />
                    <p>PancakeSwap</p>
                    <img style="max-width:10%;" src="/assets/example_images/logo_favicon/FEVICON-05.png" alt="favicon" />
                    <p>BitMart</p>
                </div>
            </div>
            <div class="mobile-button"><span></span></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-4" style="margin-right: auto;">
                <div class="sc-box-icon-inner style2" style="margin-left: 20px;">

                    <div class="widget-social style-1 mg-t32">
                        <ul>
                            <li>
                                <p>FOLLOW US</p>
                            </li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>

                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li class="mgr-none"><a href="#"><i class="icon-fl-vt"></i></a></li>
                        </ul>

                    </div>

                </div>
                <div class="sc-box-icon-inner style2" style="margin-left: 20px;">

                    <div id="menu_custom">
                        <ul id="menu-primary-menu" class="menu" style="display: flex; float: left; 
                    font-size: large; column-gap: 18%;">
                            <li class="menu-item" id="home">
                                <a href="#">HOME</a>
                            </li>
                            <li class="menu-item" id="team">
                                <a href="#" id="gameplay">GAMEPLAY</a>
                            </li>
                            <li class="menu-item" id="roadmap">
                                <a href="#">ROADMAP</a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="sc-box-icon-inner style2">

                    <div class="widget-social style-1 mg-t32">
                        <ul>
                            <li>
                                <p>FOLLOW US</p>
                            </li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>

                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li class="mgr-none"><a href="#"><i class="icon-fl-vt"></i></a></li>
                        </ul>

                    </div>
                </div>
                <div class="sc-box-icon-inner style2" style="margin-left: 20px;">


                    <ul id="menu-primary-menu" class="menu" style="display: flex; float: left; 
                    font-size: large; column-gap: 18%;">
                        <li class="menu-item" id="tokenomics">
                            <a href="#">TOKENOMICS</a>
                        </li>
                        <li class="menu-item" id="team">
                            <a href="#">TEAM</a>
                        </li>
                        <li class="menu-item" id="audit">
                            <a href="#">AUDIT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-bottom: -15%;    margin-top: -2%;">

            <div class="col-xl-4 col-md-4">
                <div class="sc-box-icon-inner style2" style="margin-left: -4px !important;">
                    <ul>
                        <li>
                            <div class="gameplay_items sc-box-icon ">
                                <div class="image logoCustomPadding">
                                    <img style="padding-right: 18%; max-width: 70%;" src="assets/example_images/logo_favicon/logo-05.png" alt="Image">
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- <div class="col-xl-4 col-md-4">
                <div class="sc-box-icon-inner style2">
                    <nav id="main-nav" class="main-nav">
                        <ul id="menu-primary-menu" class="menu">
                            <li class="menu-item" id="tokenomics">
                                <a href="#">TOKENOMICS</a>
                            </li>
                            <li class="menu-item" id="team">
                                <a href="#">TEAM</a>
                            </li>
                            <li class="menu-item" id="audit">
                                <a href="#">AUDIT</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div> -->
        <!--     </div> -->

    </div>
</header>