<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/assets/css/style.css' />
    <link rel="shortcut icon" href="/assets/example_images/logo_favicon/FEVICON-05.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/example_images/logo_favicon/FEVICON-05.png">
</head>