<section class="flat-title-page home3 parallax video-container" id="main_section" style="text-shadow: 2px 3px #000;"> <video autoplay muted loop> <source src="/assets/example_images/jungle_low.mp4" type="video/mp4"/> </video>
    <div class="swiper-container mainslider auctions">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slider-item">
                    <div class="themesflat-container">
                        <div class="wrap-heading flat-slider text-center">
                            <h2 class="heading"> <span style="color:#EF670A">S</span> <span style="color:#F7BA21">U</span> <span style="color:#EF670A">P</span> <span style="color:#F7BA21">E</span> <span style="color:#EF670A">R</span> <span style="color:#29ABE2">V</span>
                                <span style="color:#00FEFE">E</span> <span style="color:#29ABE2">T</span> </h2>
                            <h1 class="heading"><span class="tf-text s1" style="color:#EF670A">OWN </span> <span class="tf-text s1" style="color:#F7BA21">| </span> <span class="tf-text s1" style="color:#29ABE2">RESCUE </span> <span class="tf-text s1" style="color:#F7BA21">| </span>                                <span class="tf-text s1" style="color:#EF670A">AID </span> <span class="tf-text s1" style="color:#F7BA21">| </span> <span class="tf-text s1" style="color:#29ABE2">EARN </span> </h1>
                            <p class="sub-heading mg-t-29 mg-bt-50">Super Vet is a first-ever NFT based GameFi based on vets with supernatural powers of rescuing animal </p>
                            <div class="flat-bt-slider flex" style=" text-shadow: 1px 1px #000!important"> <a href="https://super-vet.gitbook.io/super-vet-white-paper" target="_blank" class="sc-button header-slider style style-1 note fl-button pri-1"><span>White Paper </span></a>&nbsp;&nbsp;&nbsp; <a href="#" data-toggle="modal"
                                    data-target="#metaverse_popup" class="sc-button header-slider style style-1 rocket fl-button pri-1"><span>Marketplace </span></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<section class="tf-section live-auctions mobie-style" id="gameplay">
    <div class="themesflat-container"> <img class="cat" src="/assets/example_images/cat.png" alt="">
        <div class="row">
            <div class="col-md-12">
                <h2 class="tf-title"> Gameplay </h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-4">
                <div class="sc-box-icon-inner style2">
                    <ul>
                        <li>
                            <div class="gameplay_items sc-box-icon ">
                                <div class="image"> <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg"> <image href="/assets/example_images/gameplay_icons/1.png" height="90" width="90"/> </svg> </div>
                                <h3 class="heading"><a href="#">Rescue To Earn</a></h3>
                                <p class="content">Super Vet being a superhero for the animals that rescue them is a 3D finest art NFT character is on the missions in the Super Vet World. </p>
                            </div>
                        </li>
                        <li>
                            <div class="gameplay_items sc-box-icon ">
                                <div class="image"> <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg"> <image href="/assets/example_images/gameplay_icons/2.png" height="90" width="90"/> </svg> </div>
                                <h3 class="heading"><a href="#">Super Vet NFTs</a></h3>
                                <p class="content">Super Vet doctors and In-game assets avaliable as NFTs. Purchase and rescue more animals. </p>
                            </div>
                        </li>
                        <li>
                            <div class="gameplay_items sc-box-icon">
                                <div class="image"> <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg"> <image href="/assets/example_images/gameplay_icons/3.png" height="90" width="90"/> </svg> </div>
                                <h3 class="heading"><a href="#">Super Vet World</a></h3>
                                <p class="content">Super Vet being a superhero for the animals that rescue them is a 3D finest art NFT character is on the missions in the Super Vet World. </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-md-4" style=" align-self: center;">
                <div class="sc-box-icon-inner style2" style="margin-left: -4px !important;">
                    <ul>
                        <li>
                            <div class="gameplay_items sc-box-icon ">
                                <div class="image"> <img style="padding-right: 18%;" src="assets/images/dr_watson.png" alt="Image"> </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="sc-box-icon-inner style2">
                    <ul>
                        <li>
                            <div class="gameplay_items sc-box-icon ">
                                <div class="image"> <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg"> <image href="/assets/example_images/gameplay_icons/4.png" height="90" width="90"/> </svg> </div>
                                <h3 class="heading"><a href="#">Super Vet Characters</a></h3>
                                <p class="content">Super Vet is a normal veterinarian doctor, but with extraordinary supernatural powers rescues and treats medically the animals.</p>
                            </div>
                        </li>
                        <li>
                            <div class="gameplay_items sc-box-icon ">
                                <div class="image"> <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg"> <image href="/assets/example_images/gameplay_icons/5.png" height="90" width="90"/> </svg> </div>
                                <h3 class="heading"><a href="#">Super Exciting Missions</a></h3>
                                <p class="content">Vets have to identify the location, reach down to the afflicted animals to rescue them medically with tools or medical pieces of equipment.</p>
                            </div>
                        </li>
                        <li>
                            <div class="gameplay_items sc-box-icon">
                                <div class="image"> <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg"> <image href="/assets/example_images/gameplay_icons/6.png" height="90" width="90"/> </svg> </div>
                                <h3 class="heading"><a href="#">Super Vet Rewards</a></h3>
                                <p class="content">Players can earn exciting rewards. A player can utilize these rewards to purchase the in-game assets and characters from NFT marketplace.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div><img class="dog" src="/assets/example_images/dog.png" alt=""> </div>
    </div>
</section>
<section class="tf-section live-auctions style1 pad-b-54 mobie-style" id="characters">
    <div class="themesflat-container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="tf-title"> Characters </h2>
            </div>
            <div class="col-md-12">
                <div class="swiper-container show-shadow carousel7 pad-t-17 auctions">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide characters_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card characters_card">
                                    <div class="card-media"> <img src="/assets/example_images/characters_glow/DR BRUCE.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide characters_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card characters_card">
                                    <div class="card-media"> <img src="/assets/example_images/characters_glow/DR GIBRAN.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide characters_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card characters_card">
                                    <div class="card-media"> <img src="/assets/example_images/characters_glow/DR X.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide characters_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card characters_card">
                                    <div class="card-media"> <img src="/assets/example_images/characters_glow/STEELSHOT.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide characters_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card characters_card">
                                    <div class="card-media"> <img src="/assets/example_images/characters_glow/DR BRUCE.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide characters_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card characters_card">
                                    <div class="card-media"> <img src="/assets/example_images/characters_glow/DR GIBRAN.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination mg-t-13"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tf-section live-auctions style1 pad-b-54 mobie-style video-container-roadMap" id="assets">
    <div class="themesflat-container"> <video autoplay muted loop> <source src="/assets/example_images/ocean_low.mp4" type="video/mp4"/> </video>
        <div class="row">
            <div class="col-md-12">
                <h2 class="tf-title"> In-Game Assets </h2>
            </div>
            <div class="col-md-12">
                <div class="swiper-container show-shadow carousel7 pad-t-17 auctions">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide assets_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card assets_card">
                                    <div class="card-media"> <img src="/assets/example_images/card_assets/FLYING POTION.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide assets_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card assets_card">
                                    <div class="card-media"> <img src="/assets/example_images/card_assets/HEALTH POTION.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide assets_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card assets_card">
                                    <div class="card-media"> <img src="/assets/example_images/card_assets/POWER POTION.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide assets_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card assets_card">
                                    <div class="card-media"> <img src="/assets/example_images/card_assets/SPEED POTION.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide assets_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card assets_card">
                                    <div class="card-media"> <img src="/assets/example_images/card_assets/STAMINA POTION.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide assets_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card assets_card">
                                    <div class="card-media"> <img src="/assets/example_images/card_assets/ELECTRIC RAZOR.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide assets_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card assets_card">
                                    <div class="card-media"> <img src="/assets/example_images/card_assets/SAW.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide assets_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card assets_card">
                                    <div class="card-media"> <img src="/assets/example_images/card_assets/FIRST AID.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide assets_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card assets_card">
                                    <div class="card-media"> <img src="/assets/example_images/card_assets/HAMMER.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide assets_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card assets_card">
                                    <div class="card-media"> <img src="/assets/example_images/card_assets/INJECTIONS.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide assets_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card assets_card">
                                    <div class="card-media"> <img src="/assets/example_images/card_assets/KNIFE.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide assets_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card assets_card">
                                    <div class="card-media"> <img src="/assets/example_images/card_assets/ROPE.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide assets_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card assets_card">
                                    <div class="card-media"> <img src="/assets/example_images/card_assets/STETHOSCOPE.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide assets_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card assets_card">
                                    <div class="card-media"> <img src="/assets/example_images/card_assets/SURGICAL CLAMP.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide assets_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card assets_card">
                                    <div class="card-media"> <img src="/assets/example_images/card_assets/WATER BOTTLE.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination mg-t-13"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tf-section live-auctions style1 pad-b-54 mobie-style " id="roadmap">
    <div class="themesflat-container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="tf-title"> RoadMap </h2>
            </div>
            <div class="col-md-12">
                <div class="swiper-container show-shadow carousel7 pad-t-17 auctions">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide roadmap_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card roadmap_card">
                                    <div class="card-media"> <img src="/assets/example_images/roadmaps/RoadMap-01.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide roadmap_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card roadmap_card">
                                    <div class="card-media"> <img src="/assets/example_images/roadmaps/RoadMap-02.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide roadmap_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card roadmap_card">
                                    <div class="card-media"> <img src="/assets/example_images/roadmaps/RoadMap-03.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide roadmap_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card roadmap_card">
                                    <div class="card-media"> <img src="/assets/example_images/roadmaps/RoadMap-04.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide roadmap_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card roadmap_card">
                                    <div class="card-media"> <img src="/assets/example_images/roadmaps/RoadMap-05.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide roadmap_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card roadmap_card">
                                    <div class="card-media"> <img src="/assets/example_images/roadmaps/RoadMap-06.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide roadmap_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card roadmap_card">
                                    <div class="card-media"> <img src="/assets/example_images/roadmaps/RoadMap-07.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide roadmap_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card roadmap_card">
                                    <div class="card-media"> <img src="/assets/example_images/roadmaps/RoadMap-08.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide roadmap_image">
                            <div class="slider-item">
                                <div class="sc-card-product menu_card roadmap_card">
                                    <div class="card-media"> <img src="/assets/example_images/roadmaps/RoadMap-09.png" alt="Image"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination mg-t22"></div>
                    <div class="swiper-button-next btn-slide-next active" style="text-shadow:0px 0px #000"></div>
                    <div class="swiper-button-prev btn-slide-prev" style="text-shadow:0px 0px #000"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tf-section live-auctions mobie-style" id="tokennomics">
    <div class="themesflat-container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="tf-title"> TOKENNOMICS </h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12 col-md-4-12" style=" align-self: center;">
                <div class="sc-box-icon-inner style2" style="margin-left: -4px !important;">
                    <ul>
                        <li>
                            <div class="gameplay_items sc-box-icon ">
                                <div class="image"> <img src="assets/example_images/token-supply/TOKEN SUPPLY-02.png" alt="Image"> </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="tf-section live-auctions style1 pad-b-54 mobie-style" id="token">
    <div class="themesflat-container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="tf-title"> Token Utility </h2>
                <div class="swiper-container carousel8 pad-t-17 auctions">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="slider-item">
                                <div class="wrap-cart">
                                    <div class="cart_item style2 style3">
                                        <div class="inner-cart">
                                            <div class="overlay"></div><img class="tokenCoins" src="/assets/example_images/coins/FRONT GOLD.png" alt="Image">
                                            <div class="content">
                                                <div class="fs-16"><a href="#">IN GAME</a></div>
                                                <p>$SVET</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slider-item">
                                <div class="wrap-cart">
                                    <div class="cart_item style2 style3">
                                        <div class="inner-cart">
                                            <div class="overlay"></div><img class="tokenCoins" src="/assets/example_images/coins/FRONT SILVER.png" alt="Image">
                                            <div class="content">
                                                <div class="fs-16"><a href="#">NFT MARKETPLACE</a></div>
                                                <p>$SVET</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slider-item">
                                <div class="wrap-cart">
                                    <div class="cart_item style2 style3">
                                        <div class="inner-cart">
                                            <div class="overlay"></div><img class="tokenCoins" src="/assets/example_images/coins/FRONT BRONZE.png" alt="Image">
                                            <div class="content">
                                                <div class="fs-16"><a href="#">STAKING</a></div>
                                                <p>$SVET</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tf-section live-auctions style1 pad-b-54 mobie-style" id="technology">
    <div class="themesflat-container"> <img class="coin1" src="/assets/example_images/COIN side.png" alt="">
        <div class="row">
            <div class="col-md-12">
                <h2 class="tf-title"> Technology </h2>
                <div class="swiper-container carousel8 pad-t-17 auctions">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="slider-item" style="text-align: center;">
                                <div class="wrap-cart">
                                    <div class="cart_item style2 style3">
                                        <div class="inner-cart"> <img src="/assets/example_images/logo_favicon/binance1.png" alt="Image" style="width: 50%;"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slider-item" style="text-align: center;">
                                <div class="wrap-cart">
                                    <div class="cart_item style2 style3">
                                        <div class="inner-cart"> <img src="/assets/example_images/logo_favicon/unity.png" alt="Image" style="height: 82px; margin-top: 64px;width: 50%;"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slider-item" style="text-align: center;">
                                <div class="wrap-cart">
                                    <div class="cart_item style2 style3">
                                        <div class="inner-cart"> <img src="/assets/example_images/logo_favicon/binance.png" alt="Image" style="width: 50%;"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><img class="coin2" src="/assets/example_images/COIN side.png" alt=""> </div>
</section>
<section class="tf-section live-auctions style1 pad-b-54 mobie-style" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="tf-title"> FAQs </h2>
            </div>
            <div class="col-md-12">
                <div class="flat-accordion2">
                    <div class="flat-toggle2">
                        <h6 class="toggle-title">Can you provide us with a brief introduction to Super Vet?</h6>
                        <div class="toggle-content">
                            <p>Super Vet is a blockchain-powered 3D, NFT, F2P, P&E, and role-playing animal rescue game based on unique gameplay where you can buy, sell, trade in-game assets on the associated NFT marketplace. You can start saving pets for
                                free and in-game purchases can enhance the gaming experience. </p>
                        </div>
                    </div>
                    <div class="flat-toggle2">
                        <h6 class="toggle-title">What is the gameplay like briefly?</h6>
                        <div class="toggle-content">
                            <p>A veterinarian is working in a clinic in a city. The doctor suddenly knows that an animal is in danger, and the vet goes to the rescue. You can choose Dr. Bruce to play for free, and other characters come at a small price.
                                Getting advanced tools and equipment makes it easy to save pets in a short time span. </p>
                        </div>
                    </div>
                    <div class="flat-toggle2">
                        <h6 class="toggle-title">Where can I learn more about the game? </h6>
                        <div class="toggle-content">
                            <p>The official website aims at providing all the details about the game. We have tried to provide a lot of details, but words cannot explain how cool this game is. Do you want to dig deeper? The best way to learn more about Super
                                Vet is to give it a try (you would not regret it. </p>
                        </div>
                    </div>
                    <div class="flat-toggle2">
                        <h6 class="toggle-title">What are the different ways players can earn while they play? </h6>
                        <div class="toggle-content">
                            <p>The game has different maps (stages), and each of these maps has different goals that players are supposed to achieve. You get a small reward when you achieve an easy goal, and the game gives a big reward for achieving a difficult
                                goal. The players earn Super Vet tokens each time they achieve goals. You get fewer tokens when you achieve a small goal, and you get more tokens when you achieve a big goal. </p>
                        </div>
                    </div>
                    <div class="flat-toggle2">
                        <h6 class="toggle-title">If I'm an influencer/content creator/partner, who should I contact? </h6>
                        <div class="toggle-content">
                            <p>We would love to hear from you, and our support team will get back to you at the earliest if we have to share some details in response to your queries. Please feel free to contact us through our website' contact form' whether
                                you are an influencer, content creator, partner, or a player looking for answers. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>